<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Details</title>
    </head>
    <body>
        <h1> {{ detail.name }} </h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for details in detail.items.all %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' details.id %}">{{ details.task }}</a></td>
                    <td>{{ details.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
